<div class="outer-card">
  <mat-card class="example-card" *ngIf="currentArticle!=null">
    <mat-card-header>
      <img mat-card-avatar class="example-header-image" [src]="currentArticle.author.image">
      <mat-card-title>{{currentArticle.title}}</mat-card-title>
      <mat-card-subtitle>
        Author: {{currentArticle.author.username}}
        <mat-divider [vertical]="true"></mat-divider>
        {{currentArticle.createdAt| date:'longDate'}}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/book.jpg" alt="Photo of a Shiba Inu">
    <mat-card-subtitle>{{currentArticle.description}}</mat-card-subtitle>
    <mat-card-content>
      <p>
        {{currentArticle.body}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <mat-chip-list>
        <mat-chip >{{currentArticle.favoritesCount}}<mat-icon color="warn">favorite</mat-icon></mat-chip>
        <mat-chip color="primary" *ngIf = "!currentArticle.favorited" selected (click)="toggleFavorite(currentArticle.favorited)">Add favorite</mat-chip>
        <mat-chip color="primary" *ngIf = "currentArticle.favorited" selected (click)="toggleFavorite(currentArticle.favorited)">Unfavorite</mat-chip>
      </mat-chip-list>
    </mat-card-actions>
  </mat-card>
</div>
