.outer-card{
  display: flex;
  justify-content: center;
}
.example-card {
    width: 900px;
  }
  
  .example-header-image {
    // background-image: url('../../../assets/book.jpg');
    background-size: cover;
  }