<mat-card 
class="rightpanel-card mat-elevation-z2">
  <mat-card-content>
      <h4 class="rightdivtext">
          Author
      </h4>
  </mat-card-content>
  <mat-card-content>
      <div class="authorimagecontainer">
          <img class="authorimage" mat-card-avatar src="../../../assets/ankit-sharma.jpg">
          <h5>Ankit Sharma</h5>
      </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
      <h4 class="rightdivtext">
          Follow Me
      </h4>
  </mat-card-content>
  <mat-card-content>
     
  </mat-card-content>
</mat-card>