  <nav mat-tab-nav-bar mat-align-tabs="end" color="primary"  *ngIf="isLoggedIn$ | async">
    <a mat-tab-link
       *ngFor="let link of LoggedInNavbarlinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>

  <nav mat-tab-nav-bar mat-align-tabs="end" color="primary" *ngIf="!(isLoggedIn$ | async)">
    <a mat-tab-link
       *ngFor="let link of Navbarlinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
  
  <mat-toolbar color="primary">
    <h1>Husky Learn</h1>
  </mat-toolbar>