  <nav mat-tab-nav-bar mat-align-tabs="end" *ngIf="isLoggedIn$ | async">
    <a mat-tab-link
       *ngFor="let link of LoggedInNavbarlinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
    <a mat-tab-link
    [routerLink]="['/profile']"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    
   <!-- {{currentUser.username}} -->
 </a>
  </nav>

  <nav mat-tab-nav-bar mat-align-tabs="end" *ngIf="!(isLoggedIn$ | async)">
    <a mat-tab-link
       *ngFor="let link of Navbarlinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
  
  <mat-toolbar>
    <h1>Husky Learn</h1>
  </mat-toolbar>